images/*
packages/*
*.zip
Droid/bin/*
Droid/obj/*
iOS/bin/*
iOS/obj/*
MeetingPlanner/bin/*
MeetingPlanner/obj/*
Checkbox/Droid/bin/*
Checkbox/Droid/obj/*
Checkbox/iOS/obj/*
Checkbox/iOS/bin/*
Checkbox/Forms/obj/*
Checkbox/Forms/bin/*
Checkbox/packages/*
Checkbox/UWP/*
Checkbox/WinPhone/*
Components/*
